html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden*/
}

body {
    background: #21252b;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.right {
    bottom: 0;
    max-width: 400px;
    position: fixed;
    right: 0;
    top: 0;
}

#login-button, #redirect-button {
    /*margin: 10px 10px;*/
    /*padding: 10px;*/
    display: block;
    width: 100%;
}

.wrapper {
    /*max-width: 1060px;*/
    /* padding: 40px 20px; */
}


/*table, th, td {
   border: 1px solid grey;
   padding: 10px;
}*/


* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    /*font-size: 16px;*/
    /*outline: none;*/
    /* border: 1px solid #f00;*/
}

input,
button {
    border: 0;
    padding: 10px;
}



.panel-primary {
    display: inline-block;
    width: 100%;
}

.mainDiv {
    background: #fff;
    box-shadow: 0 0 20px #333;
    display: inline-block;
    margin: 40px;
    margin-bottom: 0;
    overflow: auto;
    padding: 20px 20px;
}

    /*Center content vertically and horizontally, only works on modern browsers*/
    /* display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/

h1 {
    font-weight: 400;
    /*font-size: 24px;*/
    /*margin-bottom: 10px;*/
}

h5 {
    display: inline;
}

/*textarea {
    border: 0px;
    background: #fff;
    padding: 0px 0px;
    outline: none;
    width: 100%;
    resize: none;
}*/

button {
    background: #528bff;
    color: #fff;
    /*position: relative;*/
    /*top: 50px;*/
    /*width: 64px;*/
    /*height: 64px;*/
    /*line-height: 38px;*/
    /*border-radius: 100%;*/
}


/*Modal Dialog Box*/
/*Close button*/
.modal-header .close {
  font-size: 40px; //bigger
}


/*Login Modal Dialog*/
.modal-backdrop.in
{
    opacity:0.9 !important;
}


/*Sticky login form*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}